<%- include ('partials/header.ejs') %>

<body>
  <%- include ('partials/navbar.ejs') %>
  <div class="container">
    <h3>Realizar Pergunta</h3>
    <form>
      <label for="title">Título</label>
      <input type="text" id="title" placeholder="Título" class="form-control mb-3">
      <label for="description">Descrição</label>
      <textarea placeholder="Descreva sua pergunta aqui" id="description" class="form-control"></textarea>
      <button class="btn btn-primary mt-3">Perguntar</button>
    </form>
  </div>
</body>

<%- include ('partials/footer.ejs') %>

